# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

solution*
hls_prj*
hls_proj*
.apc
.cproject
.project
.settings
.vitis*
*.log
.vscode
_x/*
_x*
.ipcache/*
.ipcache*
.Xil/*
.Xil*
build_hw*
build_hw_emu/*
build_hw_emu*
xo/*
xo*
*.json
*.xo
firmware*
firmware/*
